<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="meta">
        <meta name="robots" content="noindex,nofollow" />
    </ui:define>

    <ui:define name="title">
        <h:outputText value="#{bundles['page.subscribe.confirm.page.title']} | #{bundles['site.title']}"/>
    </ui:define>

    <ui:define name="body">
        <section id="banner-confirm-subscribe">
            <h2>#{bundles['page.subscribe.confirm.page.title']}</h2>
            <p>#{bundles['page.subscribe.confirm.description']}</p>

            <footer>
                <div class="container 50%">
                        <div class="row uniform">
                            <div class="12u$">
                                <a href="#{confirmSubscribe.subscriptionLink}" style="color: #ffffff">
                                    #{bundles['page.subscribe.confirm.un.subscribe.link']}
                                </a>
                            </div>

                        </div>
                </div>
            </footer>
        </section>
    </ui:define>

</ui:composition>