<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template/template.xhtml">
    <ui:define name="meta">
        <meta name="robots" content="noindex,nofollow"/>
    </ui:define>

    <ui:define name="title">
        <h:outputText value="#{bundles['page.un.subscribe.page.title']} | #{bundles['site.title']}"/>
    </ui:define>

    <ui:define name="body">
        <section id="banner-confirm-un-subscribe">
            <h2>#{bundles['page.subscribe.confirm.page.title']}</h2>
            <p>
                #{unSubscribeBean.renderUnSubscription == false ? 'Enter your email address to unsubscribe from Driving Written Test Email Subscribers':'You have been removed from Driving Written Test Email Subscribers.'}
            </p>

            <footer>
                <div class="container 50%" style="margin-top: 10em">
                    <h:form id="frmUnSubscribeConfirm">
                        <h:messages id="message" styleClass="clear-message"/>
                        <div class="row uniform">
                            <div class="12u$">
                                <h:inputText id="email-subscribe"
                                             rendered="#{unSubscribeBean.renderUnSubscription == false}"
                                             value="#{unSubscribeBean.subscribe.email}"/>
                            </div>
                            <div class="12u$" style="margin-top: -15px">
                                <ul class="actions">
                                    <li>
                                        <h:commandButton value="#{bundles['un.subscribe.btn.title']}"
                                                         rendered="#{unSubscribeBean.renderUnSubscription == false}"
                                                         action="#{unSubscribeBean.confirmUnSubscription}"
                                                         styleClass="special">
                                            <f:ajax execute="@this" render="@all"/>
                                        </h:commandButton>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </h:form>
                </div>
            </footer>
        </section>
    </ui:define>

</ui:composition>