<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="8u 12u$(medium)">
                    <ul class="copyright">
                        <li>© 2015 <a href="https://www.facebook.com/shahab.feri">shahab kondri</a>. All rights reserved.</li>
                    </ul>
                </div>
                <div class="4u$ 12u$(medium)">
                    <ul class="icons">
                        <li>
                            <a class="icon rounded fa-facebook" href="https://www.facebook.com/Driving-Written-Test-1684884375060135"><span class="label">Facebook</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-google-plus" href="https://plus.google.com/108928791369297357682"><span class="label">Google+</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</ui:composition>