<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <i class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <h:graphicImage value="#{resource['images:bars.svg']}" width="32" height="32"/>
                        </i>
                <a class="navbar-brand" href="/home">
                    <span>
                        <h:graphicImage value="#{resource['images:logo.svg']}" width="65" height="65"
                                alt="Driving written test"/>
                    </span>
                    <span class="navbar-brand-text">#{bundles['header.title']}</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/home#exam">Exam</a></li>
                    <li><a href="/home#contact">Contact</a></li>
                    <li><a href="/login">Sign in</a></li>
                    <li><a href="/join">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<header id="header">-->
    <!--<div class="logo">-->
    <!--<a href="/home">-->
    <!--<h:graphicImage value="#{resource['images:logo.png']}" width="60" height="60"-->
    <!--alt="Driving written test"/>-->
    <!--</a>-->
    <!--</div>-->
    <!--<h1><a href="/home">#{bundles['header.title']}</a></h1>-->
    <!--<nav id="nav">-->
    <!--<ul>-->
    <!--<li><a href="/home">Home</a></li>-->
    <!--<li><a href="/home#exam">Exam</a></li>-->
    <!--<li><a href="/home#contact">Contact</a></li>-->
    <!--<li><p:link href="/home#donate" class="button special" value="Donate"/></li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--</header>-->
</ui:composition>