<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="meta">
        <meta name="robots" content="noindex,nofollow"/>
    </ui:define>

    <ui:define name="title">
        <h:outputText value="Page not found | #{bundles['site.title']}"/>
    </ui:define>

    <ui:define name="body">
        <section id="banner-error">
            <div class="banner-404"><img src="#{resource['images:fuel-404-logo.png']}" alt="page not found"/></div>
            <p>It seems we can't find what you're looking for.</p>
        </section>
    </ui:define>

</ui:composition>