<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/template/template.xhtml">

<ui:define name="meta">
    <meta name="robots" content="noindex,nofollow" />
</ui:define>

<ui:define name="title">
    <h:outputText value="Session Timeout | #{bundles['site.title']}"/>
</ui:define>

<ui:define name="body">
    <section id="banner-session">
        <h3>Your session has timeout. Try again</h3>
    </section>
</ui:define>

</ui:composition>