<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="mainTemplate.xhtml">

    <ui:define name="meta">
        <meta name="robots" content="index, follow"/>
        <style>
            body {background-color: #ecf0f1;word-wrap: break-word !important;}
            #header {background-color: #383b43 !important; position: relative !important;top: 0; left: 0;}
            #header .logo {left: 2.5em;margin: 0;}
            .row {text-align: left;}
        </style>
        <ui:insert name="meta" />
    </ui:define>

    <ui:define name="title">
        <ui:insert name="title"/>
    </ui:define>

    <ui:define name="script">
    </ui:define>

    <ui:define name="script">
        <ui:insert name="script"/>
    </ui:define>

    <ui:define name="library">
        <f:facet name="last">
            <h:outputStylesheet library="css" name="core.css"/>
            <h:outputStylesheet library="css" name="header.css"/>
        </f:facet>
        <ui:insert name="lib"/>
    </ui:define>

    <ui:define name="header">
        <ui:include src="/resources/tags/header.xhtml"/>
    </ui:define>

    <ui:define name="content">
        <section id="exam" class="wrapper style1 special" style="padding: 3%">
                <div class="row 100%">
                    <div class="content">
                        <!--<div id="fb-root"></div>-->
                        <!--<script>(function (d, s, id) {-->
                            <!--var js, fjs = d.getElementsByTagName(s)[0];-->
                            <!--if (d.getElementById(id)) return;-->
                            <!--js = d.createElement(s);-->
                            <!--js.id = id;-->
                            <!--js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5";-->
                            <!--fjs.parentNode.insertBefore(js, fjs);-->
                        <!--}(document, 'script', 'facebook-jssdk'));</script>-->
                        <ui:insert name="body"/>
                    </div>

                    <div class="aside sidebar">
                        <ui:insert name="sidebar"/>
                    </div>

                    <!--<p:outputPanel styleClass="content" style="margin-top: 4em">-->
                        <!--<div class="fb-comments" data-href="http://drivingwrittentest.com" data-width="100%"-->
                             <!--data-numposts="8"></div>-->
                    <!--</p:outputPanel>-->
            </div>
        </section>
        <!--<ui:include src="/resources/tags/footer.xhtml"/>-->
    </ui:define>
</ui:composition>