<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<f:view contentType="text/html" locale="#{languages.locale}" encoding="UTF-8">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=9"/>
        <meta name="HandheldFriendly" content="true"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta property="og:title" content="#{bundles['site.title']}"/>
        <meta property="og:site_name" content="#{bundles['site.title']}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://www.drivingwrittentest.com"/>
        <meta property="og:image" content="#{resource['images:sign-background.jpg']}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:locale" content="en_us"/>
        <meta name="description" content="#{bundles['site.description']}"/>
        <meta property="og:description" content="#{bundles['site.description']}"/>
        <meta name="keywords" content="#{bundles['site.keywords']}"/>
        <meta name="author" content="#{bundles['site.author']}"/>
        <meta name="apple-mobile-web-app-capable" content="YES"/>
        <meta name="google-site-verification" content="9xJ8aGZp35mUe9TSqTqyYtjyEaDco09XH-3_V_00OZ4"/>
        <link rel="shortcut icon" href="#{resource['images:favicon.png']}" type="image/x-icon"/>
        <title><ui:insert name="title"/></title>
        <ui:insert name="meta"/>
        <h:outputScript library="js" name="jquery-3.1.1.min.js" />
        <h:outputScript library="js" name="bootstrap.min.js" />
        <ui:insert name="script"/>
    </h:head>
    <body data-spy="scroll" data-target=".navbar" data-offset="60">
        <!--<p:poll listener="#{sessionAlive.keepUserSessionAlive}" interval="#{session.maxInactiveInterval - 10}" />-->
                <!--<div align="center" class="cssload-fond">-->
                    <!--<div class="cssload-container-general">-->
                        <!--<div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_1"> </div></div>-->
                        <!--<div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_2"> </div></div>-->
                        <!--<div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_3"> </div></div>-->
                        <!--<div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_4"> </div></div>-->
                    <!--</div>-->
                <!--</div>-->
        <ui:insert name="library"/>
        <ui:insert name="header"/>
        <ui:insert name="content"/>
        <ui:insert name="footer"/>
        <ui:insert name="dialog"/>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-71519302-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</f:view>
</html>
