<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="mainTemplate.xhtml">

    <ui:define name="meta">
        <ui:insert name="meta"/>
    </ui:define>

    <ui:define name="title">
        <ui:insert name="title"/>
    </ui:define>

    <ui:define name="script">
    </ui:define>

    <ui:define name="script">
        <ui:insert name="script"/>
    </ui:define>

    <ui:define name="library">
        <f:facet name="last">
            <h:outputStylesheet library="css" name="core.css"/>
            <h:outputStylesheet library="css" name="header.css" />
            <h:outputStylesheet library="css" name="bootstrap.min.css" />
        </f:facet>
        <ui:insert name="lib"/>
    </ui:define>

    <ui:define name="header">
        <ui:include src="/resources/tags/header.xhtml"/>
    </ui:define>

    <ui:define name="content">
        <ui:insert name="body"/>
        <!-- Footer -->
        <!--<ui:include src="/resources/tags/footer.xhtml"/>-->
    </ui:define>

</ui:composition>