<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template/knowledgeTestTemplete.xhtml">

    <ui:define name="title">
        <h:outputText value="#{bundles['page.ontario.exam.mode.page.title']} | #{bundles['site.title']}"/>
    </ui:define>

    <ui:define name="sidebar">
        <h:form id="frmQuestions" styleClass="disable-select">
            <h:panelGroup layout="block" rendered="#{not empty ontarioExamMode.questions}">
                <ui:repeat value="#{ontarioExamMode.questions}" var="question">
                    <h:commandLink action="#{ontarioExamMode.pickQuestion(question)}"
                                   style="outline: none">
                        <h:panelGroup layout="block" style="cursor: pointer"
                                      styleClass="question-count #{question eq ontarioExamMode.question ? 'selected-answer' : question.answer == 'CORRECT' ? 'correct-answer' : question.answer == 'WRONG' ? 'wrong-answer' : 'no-answer-yellow'}">
                            <h:panelGroup layout="block" styleClass="child">
                                <h:outputText value="#{ontarioExamMode.questions.indexOf(question) + 1}"/>
                            </h:panelGroup>
                        </h:panelGroup>
                        <f:ajax render="@form :frmExam"/>
                    </h:commandLink>
                </ui:repeat>


                <h:panelGroup layout="block" style="margin-top: 20px">
                    <h:panelGroup layout="block" styleClass="result-correct">
                        <h4><h:outputText
                                value="#{bundles['sign.correct']}: #{ontarioExamMode.result.signCorrectAnswer}"
                                style="color: #00B5B5; font-size: 14px"/></h4>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="result-mistake">
                        <h4><h:outputText value="#{bundles['sign.mistake']}: #{ontarioExamMode.result.signWrongAnswer}"
                                          style="color: #F1654C; font-size: 14px"/></h4>
                    </h:panelGroup>
                </h:panelGroup>

                <h:panelGroup layout="block" style="margin-top: 55px"
                              rendered="#{ontarioExamMode.question.questionType == 'RULE'}">
                    <h:panelGroup layout="block" styleClass="result-correct">
                        <h4><h:outputText
                                value="#{bundles['rule.correct']}: #{ontarioExamMode.result.ruleCorrectAnswer}"
                                style="color: #00B5B5; font-size: 14px"/></h4>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="result-mistake">
                        <h4><h:outputText value="#{bundles['rule.mistake']}: #{ontarioExamMode.result.ruleWrongAnswer}"
                                          style="color: #F1654C; font-size: 14px"/></h4>
                    </h:panelGroup>
                </h:panelGroup>

                <h:commandButton value="#{bundles['restart.test']}"
                                 styleClass="button restart-btn" style="text-transform: uppercase"
                                 action="#{ontarioExamMode.restartHandler}">
                    <f:ajax render="@form :frmExam"/>
                </h:commandButton>
                <h:commandButton value="Result"
                                 rendered="#{ontarioExamMode.result.render}"
                                 styleClass="special result-btn" style="text-transform: uppercase;"/>
            </h:panelGroup>
        </h:form>

    </ui:define>

    <ui:define name="body">
        <h:form id="frmExam">
            <h:panelGroup layout="block" id="question" styleClass="exam-content disable-select">
                <h:panelGroup layout="block" id="title" styleClass="question">
                    <h:outputText value="#{ontarioExamMode.question.title}"/>
                </h:panelGroup>

                <h:panelGroup layout="block">
                    <h:panelGroup id="sign" layout="block" styleClass="sign"
                                  rendered="#{ontarioExamMode.question.questionType eq 'SIGN'}">
                        <h:graphicImage library="images" name="#{ontarioExamMode.imageToken}"
                                        style="max-width: 170px;"
                                        styleClass="animated fadeIn"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" id="options"
                                  styleClass="options #{ontarioExamMode.question.questionType eq 'SIGN'? 'options-75': 'options-100'}">
                        <h:panelGroup layout="block">
                            <ui:repeat value="#{ontarioExamMode.question.options}" var="option">
                                <h:commandLink id="option" value="#{option.title}"
                                               disabled="#{ontarioExamMode.optionDisabled}"
                                               styleClass="option #{ontarioExamMode.option eq null? 'no-answer' : option.correctAnswer? 'correct-answer' : option eq ontarioExamMode.option? 'wrong-answer':'no-answer-wrong'}"
                                               action="#{ontarioExamMode.optionAction}">
                                    <f:ajax render="@form :frmQuestions" />
                                    <f:setPropertyActionListener value="#{option}" target="#{ontarioExamMode.option}"/>
                                </h:commandLink>
                            </ui:repeat>
                        </h:panelGroup>
                        <h:panelGroup layout="block" id="np">
                            <h:panelGroup layout="block" id="next">
                                <h:commandButton value="#{bundles['next.question']}"
                                                 rendered="#{ontarioExamMode.nextQuestionRender == true}"
                                                 action="#{ontarioExamMode.next}"
                                                 styleClass="button next" style="text-transform: uppercase">
                                    <f:ajax execute="@this" render="@form :frmQuestions"/>
                                </h:commandButton>
                            </h:panelGroup>

                            <h:panelGroup layout="block" id="previous">
                                <h:commandButton value="#{bundles['previous.question']}"
                                                 rendered="#{ontarioExamMode.previousQuestionRender == true}"
                                                 action="#{ontarioExamMode.previous}"
                                                 styleClass="button previous" style="text-transform: uppercase">
                                    <f:ajax execute="@this" render="@form :frmQuestions"/>
                                </h:commandButton>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:form>
    </ui:define>

    <ui:define name="dialog">
        <h:panelGroup layout="block" id="dialog">
            <!--<h:dialog header="Result" widgetVar="result" resizable="false" responsive="true" modal="true"-->
            <!--draggable="false" styleClass="animated rollIn" hideEffect="fade"-->
            <!--rendered="#{ontarioExamMode.result.render}">-->
            <!--<h:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-12">-->
            <!--<h:panelGroup layout="block" styleClass="exam-result">-->
            <!--<h1><h:outputText value="#{bundles['exam.passed.sign']}"-->
            <!--rendered="#{ontarioExamMode.result.signWrongAnswer lt 5}"-->
            <!--style="color: #00B5B5;"/></h1>-->
            <!--<h1><h:outputText value="#{bundles['exam.passed.rule']}"-->
            <!--rendered="#{ontarioExamMode.result.ruleWrongAnswer lt 5}"-->
            <!--style="color: #00B5B5;"/></h1>-->
            <!--<h1><h:outputText value="#{bundles['exam.failed.sign']}"-->
            <!--rendered="#{ontarioExamMode.result.signWrongAnswer > 4}"-->
            <!--style="color: #F1654C;"/></h1>-->
            <!--<h1><h:outputText value="#{bundles['exam.failed.rule']}"-->
            <!--rendered="#{ontarioExamMode.result.ruleWrongAnswer > 4}"-->
            <!--style="color: #F1654C;"/></h1>-->
            <!--</h:panelGroup>-->
            <!--<f:facet name="footer">-->
            <!--<h:commandButton value="Review" type="button" styleClass="special" style="width:100%; text-transform: uppercase;"-->
            <!--onclick="PF('result').hide()"/>-->
            <!--</f:facet>-->
            <!--</h:panelGrid>-->
            <!--</p:dialog>-->
        </h:panelGroup>
    </ui:define>

</ui:composition>
