<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template/knowledgeTestTemplete.xhtml">

    <ui:define name="title">
        <h:outputText value="#{bundles['page.ontario.road.sign.page.title']} | #{bundles['site.title']}"/>
    </ui:define>

    <ui:define name="sidebar">
        <h:form id="frmQuestions" styleClass="disable-select">
            <h:panelGroup layout="block" rendered="#{not empty ontarioSignsTest.questions}">
                <ui:repeat value="#{ontarioSignsTest.questions}" var="question">
                    <h:commandLink action="#{ontarioSignsTest.pickQuestion(question)}"
                                   style="outline: none">
                        <h:panelGroup layout="block" style="cursor: pointer"
                                      styleClass="question-count #{question eq ontarioSignsTest.question ? 'selected-answer' : question.answer == 'CORRECT' ? 'correct-answer' : question.answer == 'WRONG' ? 'wrong-answer' : 'no-answer-yellow'}">
                            <h:panelGroup layout="block" styleClass="child">
                                <h:outputText value="#{ontarioSignsTest.questions.indexOf(question) + 1}"/>
                            </h:panelGroup>
                        </h:panelGroup>
                        <f:ajax execute="@this" render="@form :frmExam"/>
                    </h:commandLink>
                </ui:repeat>

                <h:panelGroup layout="block" style="margin-top: 20px">
                    <h:panelGroup layout="block" styleClass="result-correct">
                        <h4><h:outputText value="#{bundles['correct']} : #{ontarioSignsTest.result.correctAnswer}"
                                          style="color: #00B5B5; text-transform: uppercase; font-size: 14px"/></h4>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="result-mistake">
                        <h4><h:outputText value="#{bundles['mistake']} : #{ontarioSignsTest.result.wrongAnswer}"
                                          style="color: #F1654C; text-transform: uppercase; font-size: 14px"/></h4>
                    </h:panelGroup>
                </h:panelGroup>


                <h:commandButton value="#{bundles['restart.test']}"
                                 styleClass="button restart-btn" style="text-transform: uppercase;"
                                 action="#{ontarioSignsTest.restartHandler}">
                    <f:ajax execute="@this" render="@form :frmExam"/>
                </h:commandButton>
            </h:panelGroup>
        </h:form>

    </ui:define>

    <ui:define name="body">
        <h:form id="frmExam">
            <h:panelGroup layout="block" id="question" styleClass="exam-content disable-select">
                <h:panelGroup layout="block" id="title" styleClass="question">
                    <h:outputText value="#{ontarioSignsTest.question.title}"/>
                </h:panelGroup>

                <h:panelGroup layout="block">
                    <h:panelGroup layout="block" id="sign" styleClass="sign">
                        <h:graphicImage library="images" name="#{ontarioSignsTest.imageToken}"
                                        style="max-width: 170px;"
                                        styleClass="animated fadeIn">
                        </h:graphicImage>
                    </h:panelGroup>

                    <h:panelGroup layout="block" id="options"
                                  styleClass="options #{ontarioSignsTest.question.questionType eq 'SIGN'? 'options-75': 'options-100'}">
                        <h:panelGroup layout="block">
                            <ui:repeat value="#{ontarioSignsTest.question.options}" var="option">
                                <h:commandLink id="option" value="#{option.title}"
                                               disabled="#{ontarioSignsTest.optionDisabled}"
                                               styleClass="option #{ontarioSignsTest.option eq null? 'no-answer' : option.correctAnswer? 'correct-answer' : option eq ontarioSignsTest.option? 'wrong-answer':'no-answer-wrong'}"
                                               action="#{ontarioSignsTest.optionAction}">
                                    <f:setPropertyActionListener value="#{option}" target="#{ontarioSignsTest.option}"/>
                                    <f:ajax render=":frmExam:title :frmExam:options :frmExam:np :frmQuestions #{option.correctAnswer? ':frmExam:sign':''}"/>
                                </h:commandLink>
                            </ui:repeat>
                        </h:panelGroup>
                        <h:panelGroup layout="block" id="np">
                            <h:panelGroup layout="block" id="next">
                                <h:commandButton value="#{bundles['next.question']}"
                                                 rendered="#{ontarioSignsTest.nextQuestionRender == true}"
                                                 action="#{ontarioSignsTest.next}"
                                                 styleClass="button next" style="text-transform: uppercase">
                                    <f:ajax execute="@this"
                                            render=":frmExam:np :frmExam:title :frmExam:options :frmExam:sign :frmQuestions"/>
                                </h:commandButton>
                            </h:panelGroup>

                            <h:panelGroup layout="block" id="previous">
                                <h:commandButton value="#{bundles['previous.question']}"
                                                 rendered="#{ontarioSignsTest.previousQuestionRender == true}"
                                                 action="#{ontarioSignsTest.previous}"
                                                 styleClass="button previous" style="text-transform: uppercase">
                                    <f:ajax execute="@this"
                                            render=":frmExam:np :frmExam:title :frmExam:options :frmExam:sign :frmQuestions"/>
                                </h:commandButton>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
