@charset "utf-8";

body, body *:before, body *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important
}

body {
    margin: 0;
    padding: 0;
    color: #444;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.65em
}

input, select, textarea, button {
    font-family: "Raleway", Helvetica, sans-serif !important
}

a {
    color: #383b43;
    text-decoration: none !important;
}

a:active, a:hover {
    text-decoration: none !important;
}

strong, b {
    color: #474747;
    font-weight: 700
}

em, i {
    font-style: italic
}

p {
    margin: 0 0 2em 0
}

h1, h2, h3, h4, h5, h6 {
    color: #474747;
    line-height: 1em;
    margin: 0 0 1em 0
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(144, 144, 144, 0.25);
    margin: 2em 0
}

hr.major {
    margin: 3em 0
}

.align-left {
    text-align: left
}

.align-center {
    text-align: center
}

.align-right {
    text-align: right
}

.width-30 {
    width: 30em;
}

.width-32 {
    width: 32em;
}

.width-40 {
    width: 40em;
}

.width-50 {
    width: 50em;
}

.width-60 {
    width: 60em;
}

.pixel-16 {
    width: 16px;
    height: 16px;
}

.pixel-32 {
    width: 32px;
    height: 32px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    display: block;
    margin: 0;
    padding: 10px;
    width: 100%;
    background: transparent;
    border: solid 5px #c9c9c9;
    color: #FDFCFD;
    text-decoration: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

input[type="text"], input[type="password"], input[type="email"] {
    height: 46px !important;
}

textarea {
    font-size: 1.4em
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid, textarea:invalid {
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, textarea:hover {
    border: solid 5px #c9c9c9 !important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border: solid 5px #969696;
}

::-webkit-input-placeholder {
    color: #858585 !important;
    opacity: 1.0
}

:-moz-placeholder {
    color: #858585 !important;
    opacity: 1.0
}

::-moz-placeholder {
    color: #858585 !important;
    opacity: 1.0
}

:-ms-input-placeholder {
    color: #858585 !important;
    opacity: 1.0
}

.formerize-placeholder {
    color: #858585 !important;
    opacity: 1.0
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover {
    background-color: #51b6d9;
    text-decoration: none
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active {
    background-color: #2da2ca;
    text-decoration: none;
    outline: 0 !important
}

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus, button:focus {
    outline: 0 !important
}

input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon, button.icon {
    padding-left: 1.35em
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, button.icon:before {
    margin-right: .5em
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small {
    font-size: .8em
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big, button.big {
    font-size: 1.35em
}

input[type="submit"].alt, input[type="reset"].alt, input[type="button"].alt, button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #474747 !important
}

input[type="submit"].alt:hover, input[type="reset"].alt:hover, input[type="button"].alt:hover, button.hover {
    background-color: rgba(144, 144, 144, 0.075)
}

input[type="submit"].alt:active, input[type="reset"].alt:active, input[type="button"].alt:active, button:active {
    background-color: rgba(144, 144, 144, 0.2)
}

input[type="submit"].alt.icon:before, input[type="reset"].alt.icon:before, input[type="button"].alt.icon:before, button.alt.icon:before {
    color: #858585
}

input[type="submit"].special, input[type="reset"].special, input[type="button"].special, button.special {
    background-color: #383b43;
    color: #fff !important
}

input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, button.special:hover {
    background-color: #444751
}

input[type="submit"].special:active, input[type="reset"].special:active, input[type="button"].special:active, button.special:active {
    background-color: #2c2f35
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, button:disabled {
    background-color: #444 !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    cursor: default;
    opacity: .25
}

.banner {
    background: url("#{resource['images:dark_tint.png']}"), url("#{resource['images:intro-bg.jpg']}");
    background-position: center center;
    background-size: cover;
    display: table;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding-bottom: 5em;
}

.banner-register {
    background: url("#{resource['images:dark_tint.png']}"), url("#{resource['images:join-bg.jpg']}") !important;
}

.banner-confirm-subscribe {
    background: url("#{resource['images:dark_tint.png']}"), url("#{resource['images:subscribe.jpg']}") !important;
}

.banner-session {
    background-color: #340030 !important;
}

.banner-error {
    background-color: #340030 !important;
}

.banner-confirm-un-subscribe {
    background: url("#{resource['images:dark_tint.png']}"), url("#{resource['images:un-subscribe.jpg']}") !important;
}

.banner-confirm-subscribe footer {
    position: absolute;
    bottom: 220px;
    left: 0;
    right: 0
}

.banner :last-child, #banner-confirm-subscribe :last-child, #banner-confirm-un-subscribe :last-child, #banner-session :last-child {
    margin-bottom: 0
}

.banner .text {
    margin-top: 10em;
    padding: 10px;
}

.banner .text h2{
    color: #d9e3e8;
    font-size: 4em;
}

.banner .text p {
    font-size: 1.5em;
    color: #d9e3e8;
}

.banner-session h3 {
    color: #fff;
    font-size: 2.5em;
    line-height: 1.25em;
    margin: 0 0 .5em 0;
    padding: 0
}

.banner-404 {
    width: 343px;
    margin: 0 auto 0 auto
}

.banner input[type="text"], #banner-confirm-un-subscribe input[type="text"] {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff
}

.container-fluid {
    padding: 60px 50px;
}

.page-1 {
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    border-top: 1px solid rgba(144, 144, 144, 0.25)
}

.page-1 h2 {
    font-weight: 600;
    margin-bottom: 2em;
}

.page-1 .box {
    background-color: #eee;
    box-shadow: 3px 3px 3px #ddd;
    color: #333;
    padding: 1em;
    min-height: 300px
}

.page-1 .box:hover {
    box-shadow: 2px 2px 3px #999;
    background-color: #00b5b5
}

.page-1 .box h3 {
    color: #333;
    font-size: 1.4em;
    font-weight: 700;
    margin: 10px 0 15px 0;
}

.page-1 .box p {
    color: #444444;
    font-size: 1.1em;
}

.page-2 .profiles {
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    margin-bottom: 4em;
    padding-top: 4em
}

.page-2 .profile {
    margin-bottom: 2em;
    text-align: left
}

.page-2 .profile img {
    border-radius: 50%;
    float: left;
    margin-bottom: 1em;
    margin-right: 1em
}

.page-2 .profile h4 {
    margin-bottom: 0;
    margin-top: 1em
}

.page-2 footer {
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

.page-2 footer p {
    margin-bottom: 3em
}

.page-3 {
    background-color: #3cadd4;
    color: #fff
}

.page-3 h2, .page-3 h3, .page-3 p {
    color: #fff
}

.page-3 input[type="text"], .page-3 input[type="password"], .page-3 input[type="email"], .page-2 select, .page-3 textarea {
    background-color: #fff;
    color: #444
}


.panel {
    margin: 0;
    padding: 0
}

.panel input {
    margin-bottom: 5px
}

.panel p {
    margin-bottom: 15px
}

.panel button {
    font-weight: bold
}

/* Panel End*/
.portlets-box {
    position: relative;
    margin: 0 auto;
}

.portlets-box .head {
    margin-bottom: 15px;
    text-align: center;
    color: #6d717a;
}

.portlets-box .head h3 {
    margin-top: 10px;
    color: #7e7e7e;
}

.portlets-box input[type="text"] {
    width: 100%;
    text-align: center;
    font-size: 1.3em !important;
}

.portlets-box button {
    display: table;
    width: 100%;
    margin-top: 5px;
}

.portlets-box button.action {
    margin-top: 15px;
}

.portlets-box .activation {
    position: relative;
    float: left;
    top: 3px;
}

.portlets-box .two-column .right {
    width: 48%;
    float: right;
    display: inline-block;
}

.portlets-box .two-column .left {
    width: 48%;
    float: left;
    display: inline-block;
}

.portlets-box .forgot {
    position: relative;
    right: 14.5em;
    top: 3px;
}

hr.separator {
    border: 0;
    color: #eaeaea;
    background-color: #eaeaea;
    height: 1px;
    padding-top: 0;
    margin-top: 5px
}

.question {
    font-size: 1.9em !important;
    font-weight: bold !important;
    color: #3e4651;
    display: block;
    margin-bottom: 20px;
    border-left: 4px solid #e75926;
    padding-left: 10px;
    font-family: "Raleway", Helvetica, sans-serif !important;
    line-height: 30px
}

.sign {
    float: left;
    margin: 0 auto 20px !important;
    width: 170px
}

.options {
    margin-right: 10px;
    margin-left: 10px;
    float: left
}

.options-75 {
    width: 75%
}

.options-100 {
    width: 100%
}

.options .option {
    display: block;
    margin-bottom: 10px;
    font-size: 1.3em !important;
    cursor: pointer;
    padding: 15px;
    border: 2px solid #d9e3e8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: 500 !important
}

.options a:link {
    color: #222 !important
}

.options a:visited {
    border: 2px solid #d9e3e8;
    color: #222 !important
}

.no-answer {
    background-color: #f6fafc;
    -webkit-transition: background-color 100ms ease-out 2ms;
    -moz-transition: background-color 100ms ease-out 2ms;
    -o-transition: background-color 100ms ease-out 2ms;
    transition: background-color 100ms ease-out 2ms
}

.no-answer:hover {
    background-color: #f1c40f !important
}

.no-answer-wrong {
    background-color: #e9ebee !important;
    opacity: 0.50 !important;
}

.no-answer-yellow {
    background-color: #f1c40f !important
}

.correct-answer {
    background-color: #16a085 !important;
}

.wrong-answer {
    background-color: #f1654c !important
}

.selected-answer {
    background-color: #33afde !important
}

.next {
    float: right
}

.previous {
    float: left
}

.next, .previous {
    width: auto;
    background-color: #249991;
    border: 1px solid #00b5b5;
    color: #fff;
    font-size: 1.1em !important
}

.next:hover, .previous:hover {
    background-color: #00b5b5;
    text-decoration: none
}

.restart-btn {
    width: 100%;
    background-color: #249991;
    border: 1px solid #00b5b5;
    color: #fff;
    margin-top: 20px;
    font-size: 1.1em !important
}

.restart-btn:hover {
    background-color: #00b5b5;
    text-decoration: none
}

.review-btn {
    width: 100%;
    background-color: #3d8eb9;
    border: 1px solid #00b5b5;
    color: #fff;
    margin-top: 5px;
    padding: 10px 15px 10px 15px
}

.result-btn {
    width: 100%;
    margin-top: 10px;
    font-size: 1.1em !important
}

.review-btn:hover {
    background-color: #42729b;
    text-decoration: none
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.question-count {
    position: relative;
    background-color: #f6fafc;
    display: inline-block;
    width: 34px;
    padding: 2px 0 2px;
    margin: 1px;
    text-align: center;
    cursor: default;
    border: 2px solid #d9e3e8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}

.question-count .child {
    float: none;
    color: #d9e3e8;
    font-weight: bold
}

.have-failed {
    color: #f1654c;
    text-align: center;
    display: block;
    margin: 10% 0 0 0
}

.have-passed {
    color: #00b5b5;
    text-align: center;
    display: block;
    margin: 10% 0 0 0
}

.result {
    width: 50%;
    margin: 3% auto
}

.result-mistake {
    float: left;
    width: 50%;
    display: block
}

.result-correct {
    float: right;
    width: 50%;
    text-align: right;
    display: block
}

.exam-result h1 {
    font-size: 2em;
    line-height: 1em
}

.clear-message {
    font-size: 1.4em;
    list-style: none;
    text-align: left;
    margin-left: -30px;
    margin-top: 0;
    margin-bottom: 0
}

.exam-content {
    min-height: 390px
}

.content {
    float: left;
    width: 70%;
    position: relative;
    left: 0
}

.aside {
    float: right;
    width: 30%
}

header p {
    color: #858585;
    position: relative;
    margin: 0 0 1.5em 0
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.5em
}

header h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
    line-height: 1.5em
}

header h4 + p, header h5 + p, header h6 + p {
    font-size: .9em;
    margin-top: -0.6em;
    line-height: 1.5em
}


form {
    margin: 0 0 2em 0
}

.box {
    border-radius: 4px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 2em;
    padding: 1em
}

.box > :last-child, .box > :last-child > :last-child, .box > :last-child > :last-child > :last-child {
    margin-bottom: 0
}

.icon {
    text-decoration: none;
    border-bottom: 0;
    position: relative
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important
}

.icon:active, .icon:hover {
    text-decoration: none
}

.icon > .label {
    display: none
}

.icon.rounded {
    background-color: #383b43;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 3.25em;
    line-height: 3.25em;
    text-align: center;
    width: 3.25em
}

.icon.rounded.big {
    font-size: 2.5em;
    margin-bottom: .5em
}

.icon.rounded.color1 {
    background-color: #3cadd4
}

.icon.rounded.color2 {
    background-color: #3c61d4
}

.icon.rounded.color3 {
    background-color: #633cd4
}

.icon.rounded.color4 {
    background-color: #af3cd4
}

.icon.rounded.color5 {
    background-color: #d43cad
}

.icon.rounded.color6 {
    background-color: #d43c61
}

.icon.rounded.color7 {
    background-color: #d4633c
}

.icon.rounded.color8 {
    background-color: #d4af3c
}

.icon.rounded.color9 {
    background-color: #add43c
}

.icon.rounded.color10 {
    background-color: #61d43c
}

.icon.rounded.fa-twitter {
    background-color: #2daae4
}

.icon.rounded.fa-facebook {
    background-color: #39599f
}

.icon.rounded.fa-google-plus {
    background-color: #c91e1f
}

.icon.rounded.fa-dribbble {
    background-color: #c4376b
}

.icon.rounded.fa-tumblr, .icon.rounded.fa-linkedin {
    background-color: #31516a
}

.icon.rounded.fa-rss {
    background-color: #f2600b
}

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative
}

.image img {
    border-radius: 4px;
    display: block
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: .25em
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: .25em
}

.image.left, .image.right {
    max-width: 40%
}

.image.left img, .image.right img {
    width: 100%
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%
}

.image.fit img {
    width: 100%
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em
}

ul li {
    padding-left: .5em
}

ul.alt {
    list-style: none;
    padding-left: 0
}

ul.alt li {
    border-top: solid 1px rgba(144, 144, 144, 0.25);
    padding: .5em 0
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0
}

ul.unstyled {
    list-style: none;
    padding-left: 0
}

ul.unstyled li {
    padding: .4em 0
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0
}

ul.icons li:last-child {
    padding-right: 0
}

ul.icons li .icon:before {
    font-size: 2em
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle
}

ul.actions li:last-child {
    padding-right: 0
}

ul.actions.small li {
    padding: 0 .5em 0 0
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0
}

ul.actions.vertical li:first-child {
    padding-top: 0
}

ul.actions.vertical li > * {
    margin-bottom: 0
}

ul.actions.vertical.small li {
    padding: .5em 0 0 0
}

ul.actions.vertical.small li:first-child {
    padding-top: 0
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em)
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em
}

ul.actions.fit li > * {
    margin-bottom: 0
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em)
}

ul.actions.fit.small li {
    padding: 0 0 0 .5em
}

dl {
    margin: 0 0 2em 0
}

input[type="submit"], input[type="reset"], input[type="button"], .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color .2s ease-in-out, color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out, color .2s ease-in-out;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    background-color: #3cadd4;
    border-radius: 30px;
    border: 0;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap
}


#footer {
    background: #383b43;
    padding: 2em 0 1em
}

#footer h2, #footer h3, #footer h4 {
    color: #fff
}

#footer .copyright {
    margin-top: .65em;
    padding: 0
}

#footer .copyright li {
    color: #858585;
    display: inline-block;
    list-style: none;
    margin-left: .5em;
    padding-left: .5em
}

#footer .copyright li:first-child {
    margin-left: 0;
    padding-left: 0
}

#footer .copyright a {
    color: #858585;
    text-decoration: underline
}

#footer .icons {
    text-align: right
}

#footer a.icon {
    color: #fff;
    font-size: .65em;
    height: 4em;
    line-height: 4em;
    width: 4em;
    cursor: pointer
}

/*Ajax Status*/
.cssload-fond{
    position:relative;
    margin: auto;
}

.cssload-container-general {
    animation:cssload-animball_two 1.15s infinite;
    -o-animation:cssload-animball_two 1.15s infinite;
    -ms-animation:cssload-animball_two 1.15s infinite;
    -webkit-animation:cssload-animball_two 1.15s infinite;
    -moz-animation:cssload-animball_two 1.15s infinite;
    width:43px; height:43px;
}
.cssload-internal {
    width: 43px;
    height: 43px;
    position: absolute;
}

.cssload-ballcolor {
    width: 19px;
    height: 19px;
    border-radius: 50%;
}

.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4 {
    position: absolute;
    animation: cssload-animball_one 1.15s infinite ease;
    -o-animation: cssload-animball_one 1.15s infinite ease;
    -ms-animation: cssload-animball_one 1.15s infinite ease;
    -webkit-animation: cssload-animball_one 1.15s infinite ease;
    -moz-animation: cssload-animball_one 1.15s infinite ease;
}

.cssload-ball_1 {
    background-color: rgb(203, 32, 37);
    top: 0;
    left: 0;
}

.cssload-ball_2 {
    background-color: rgb(248, 179, 52);
    top: 0;
    left: 23px;
}

.cssload-ball_3 {
    background-color: rgb(0, 160, 150);
    top: 23px;
    left: 0;
}

.cssload-ball_4 {
    background-color: rgb(151, 191, 13);
    top: 23px;
    left: 23px;
}

@keyframes cssload-animball_one {
    0% {
        position: absolute;
    }
    50% {
        top: 12px;
        left: 12px;
        position: absolute;
        opacity: 0.5;
    }
    100% {
        position: absolute;
    }
}

@-o-keyframes cssload-animball_one {
    0% {
        position: absolute;
    }
    50% {
        top: 12px;
        left: 12px;
        position: absolute;
        opacity: 0.5;
    }
    100% {
        position: absolute;
    }
}

@-ms-keyframes cssload-animball_one {
    0% {
        position: absolute;
    }
    50% {
        top: 12px;
        left: 12px;
        position: absolute;
        opacity: 0.5;
    }
    100% {
        position: absolute;
    }
}

@-webkit-keyframes cssload-animball_one {
    0% {
        position: absolute;
    }
    50% {
        top: 12px;
        left: 12px;
        position: absolute;
        opacity: 0.5;
    }
    100% {
        position: absolute;
    }
}

@-moz-keyframes cssload-animball_one {
    0% {
        position: absolute;
    }
    50% {
        top: 12px;
        left: 12px;
        position: absolute;
        opacity: 0.5;
    }
    100% {
        position: absolute;
    }
}

@keyframes cssload-animball_two {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.3);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

@-o-keyframes cssload-animball_two {
    0% {
        -o-transform: rotate(0deg) scale(1);
    }
    50% {
        -o-transform: rotate(360deg) scale(1.3);
    }
    100% {
        -o-transform: rotate(720deg) scale(1);
    }
}

@-ms-keyframes cssload-animball_two {
    0% {
        -ms-transform: rotate(0deg) scale(1);
    }
    50% {
        -ms-transform: rotate(360deg) scale(1.3);
    }
    100% {
        -ms-transform: rotate(720deg) scale(1);
    }
}

@-webkit-keyframes cssload-animball_two {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.3);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(1);
    }
}

@-moz-keyframes cssload-animball_two {
    0% {
        -moz-transform: rotate(0deg) scale(1);
    }
    50% {
        -moz-transform: rotate(360deg) scale(1.3);
    }
    100% {
        -moz-transform: rotate(720deg) scale(1);
    }
}

/* Media Queries
--------------------------------------------- */
@media all and (max-width: 768px) {

    .content {
        margin-top: 40px;
        width: 100%;
    }

    .sidebar {
        width: 100%;
        border-top: 3px solid #E64A19;
        margin-top: 30px !important;
        padding-top: 20px !important;
    }

    .options {
        float: left;
        width: 97%;
    }

    .sign {
        float: none !important;
    }
}

@media only all and (max-width: 1000px) {
    .content {
        margin-top: 40px;
    }
}

@media only all and (min-width: 768px) and (max-width: 1124px) {

    .options {
        float: left;
        width: 100%;
    }

    .sign {
        float: none !important;
    }

    .result-mistake {
        width: 100%;
    }

    .result-correct {
        width: 100%;
        float: left;
        text-align: left;
    }
}

@media (max-width: 600px) {
    .next, .previous {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 479px) {
    .options {
        width: 95%;
    }

    .next, .previous {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
}