.navbar {
    position: absolute !important;
    width: 100%;
    background-color: transparent !important;
    z-index: 9999;
    border: 0;
    line-height: 1.42857143 !important;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #d9e3e8 !important;
    cursor: pointer;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: transparent !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-toggle {
    padding: 15px 0 !important;
    cursor: pointer;
}

ul.nav {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
        background-color: #333333;
    }

    .navbar-nav li a:hover, .navbar-nav li.active a {
        background-color: #1b6d85 !important;
    }
}

@media screen and (max-width: 992px) {
    .navbar-brand-text {
        display: none;
    }
}