<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="meta">
        <meta name="robots" content="noindex,nofollow"/>
    </ui:define>

    <ui:define name="title">
        <h:outputText value="#{bundles['page.login.page.title']} | #{bundles['site.title']}"/>
    </ui:define>

    <ui:define name="body">
        <section id="banner-session">
            <h:form id="frmLogin">
                <h:inputText id="email" type="email" value="#{authenticationBean.password.email}" styleClass="email"/>

                <h:inputSecret id="password" value="#{authenticationBean.password.password}"
                               styleClass="password" autocomplete="false">
                    <f:converter converterId="passwordConverter"/>
                </h:inputSecret>

                <h:selectBooleanCheckbox value="#{authenticationBean.loginStay}"
                                         label="stay login"
                                         valueChangeListener="#{authenticationBean.loginStayValueChangeListener}"/>

                <h:link value="forgot password?" styleClass="forgot"/>

                <h:commandButton id="btnLogin" value="Sign in"
                                 action="#{authenticationBean.authenticationAction}"
                                 styleClass="action ui-priority-primary">
                    <f:ajax execute="@form" render=":frmLogin"/>
                </h:commandButton>
            </h:form>
            <footer>
                <!--<div class="container 50%">-->
                <!--<div class="row uniform">-->
                <!--<div class="12u$">-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->
            </footer>
        </section>
    </ui:define>

</ui:composition>