<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="meta">
        <meta name="robots" content="noindex,nofollow"/>
    </ui:define>

    <ui:define name="title">
        <h:outputText value="Join Driver Written Test | #{bundles['site.title']}"/>
    </ui:define>

    <ui:define name="body">
        <section id="banner-register">
            <h:form id="frmRegister">
                <h:panelGroup layout="block" styleClass="head">
                    <i class="icon icon-user-register"/>
                    <h3>Join Driver Written Test</h3>
                </h:panelGroup>

                <h:panelGroup layout="block" id="panel" styleClass="panel">

                    <h:panelGroup layout="block" styleClass="portlets-box width-32">
                        <h:inputText id="firstname" value="#{registerBean.account.firstName}"/>
                        <h:inputText id="lastname" value="#{registerBean.account.lastName}"/>
                        <h:inputText id="email" type="email" value="#{registerBean.password.email}" styleClass="email"/>

                        <h:inputSecret id="password" value="#{registerBean.password.password}" autocomplete="false"
                                       styleClass="password">
                            <f:converter converterId="passwordConverter"/>
                        </h:inputSecret>

                        <h:commandButton id="btnRegister" value="Create an account"
                                         action="#{registerBean.registerAction}"
                                         styleClass="action ui-priority-primary">
                            <f:ajax execute="@form" render="@form :frmMessage"/>
                        </h:commandButton>
                    </h:panelGroup>
                </h:panelGroup>
            </h:form>

            <h:form id="frmMessage">
                <h:panelGroup layout="block" rendered="#{registerBean.render eq 'true'}" styleClass="center">
                    <i class="fa fa-check-circle fa-5x green" aria-hidden="true"></i>
                    <h3 style="margin-top: 20px"><h:outputText value="success"/></h3>
                </h:panelGroup>
            </h:form>
        </section>
    </ui:define>

</ui:composition>