<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template/knowledgeTestTemplete.xhtml">

    <ui:define name="title">
        <h:outputText value="#{bundles['page.ontario.az.written.examination']} | #{bundles['site.title']}"/>
    </ui:define>

    <ui:define name="sidebar">
        <h:form id="frmQuestions" styleClass="disable-select">

            <h:panelGroup layout="block" rendered="#{not empty ontarioAzWrittenExamination.questions}">
                <ui:repeat value="#{ontarioAzWrittenExamination.questions}" var="question">
                    <h:commandLink action="#{ontarioAzWrittenExamination.pickQuestion(question)}" style="outline: none">
                        <h:panelGroup layout="block" style="cursor: pointer"
                                        styleClass="question-count #{question eq ontarioAzWrittenExamination.question ? 'selected-answer' : question.answer == 'CORRECT' ? 'correct-answer' : question.answer == 'WRONG' ? 'wrong-answer' : 'no-answer-yellow'}">
                            <h:panelGroup layout="block" styleClass="child">
                                <h:outputText value="#{ontarioAzWrittenExamination.questions.indexOf(question) + 1}"/>
                            </h:panelGroup>
                        </h:panelGroup>
                        <f:ajax execute="@form" render="@form :frmExam" />
                    </h:commandLink>
                </ui:repeat>

                <h:panelGroup layout="block" style="margin-top: 20px">
                    <h:panelGroup layout="block" styleClass="result-correct">
                        <h4><h:outputText
                                value="#{bundles['correct']} : #{ontarioAzWrittenExamination.result.correctAnswer}"
                                style="color: #00B5B5; text-transform: uppercase; font-size: 14px"/></h4>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="result-mistake">
                        <h4><h:outputText
                                value="#{bundles['mistake']} : #{ontarioAzWrittenExamination.result.wrongAnswer}"
                                style="color: #F1654C; text-transform: uppercase; font-size: 14px"/></h4>
                    </h:panelGroup>
                </h:panelGroup>


                <h:commandButton value="#{bundles['restart.test']}"
                                 styleClass="button restart-btn" style="text-transform: uppercase"
                                 action="#{ontarioAzWrittenExamination.restartHandler}">
                    <f:ajax execute="@form" render="@form :frmExam"/>
                </h:commandButton>
            </h:panelGroup>
        </h:form>

    </ui:define>

    <ui:define name="body">
        <h:form id="frmExam">
            <h:panelGroup layout="block" id="question" styleClass="exam-content disable-select">
                <h:panelGroup layout="block" id="title" styleClass="question">
                    <h:outputText value="#{ontarioAzWrittenExamination.question.title}"/>
                </h:panelGroup>

                <h:panelGroup>
                    <h:panelGroup layout="block" id="sign" styleClass="sign"
                                    rendered="#{not empty ontarioAzWrittenExamination.question.image}">
                        <h:graphicImage value="/images/" style="max-width: 170px;"
                                        styleClass="animated fadeIn"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" id="options"
                                    styleClass="options #{empty ontarioAzWrittenExamination.question.image? 'options-100': 'options-75'}">
                        <h:panelGroup>
                            <ui:repeat value="#{ontarioAzWrittenExamination.question.options}" var="option">
                                <h:commandLink id="option" value="#{option.title}"
                                               disabled="#{ontarioAzWrittenExamination.optionDisabled}"
                                               styleClass="option #{ontarioAzWrittenExamination.option eq null? 'no-answer' : option.correctAnswer? 'correct-answer' : option eq ontarioAzWrittenExamination.option? 'wrong-answer':'no-answer-wrong'}"
                                               action="#{ontarioAzWrittenExamination.optionAction}">
                                    <f:ajax execute="@form"
                                            render=":frmExam:title :frmExam:options :frmExam:np :frmQuestions #{option.correctAnswer? ':frmExam:sign':''}"/>
                                    <f:setPropertyActionListener value="#{option}"
                                                                 target="#{ontarioAzWrittenExamination.option}"/>
                                </h:commandLink>
                                <!--<p:blockUI block=":frmExam:options" trigger="option" />-->
                            </ui:repeat>
                        </h:panelGroup>
                        <h:panelGroup layout="block" id="np">
                            <h:panelGroup layout="block" id="next">
                                <h:commandButton value="#{bundles['next.question']}"
                                                 rendered="#{ontarioAzWrittenExamination.nextQuestionRender == true}"
                                                 action="#{ontarioAzWrittenExamination.next}"
                                                 styleClass="button next" style="text-transform: uppercase">
                                    <f:ajax execute="@form" render=":frmExam:np :frmExam:title :frmExam:options :frmExam:sign :frmQuestions"/>
                                </h:commandButton>
                            </h:panelGroup>

                            <h:panelGroup layout="block" id="previous">
                                <h:commandButton value="#{bundles['previous.question']}"
                                                 rendered="#{ontarioAzWrittenExamination.previousQuestionRender == true}"
                                                 action="#{ontarioAzWrittenExamination.previous}"
                                                 styleClass="button previous" style="text-transform: uppercase">
                                    <f:ajax execute="@form" render=":frmExam:np :frmExam:title :frmExam:options :frmExam:sign :frmQuestions"/>
                                </h:commandButton>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>